#feedback {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 0.5px solid #fff;
}

#contact {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 0.5px solid #fff;
}

#contact, #feedback, #contactForm, #feedbackForm {
    background-color: #dddddd;
    color: #fff;
}

#contactForm, #feedbackForm {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 50px;
}

#feedbackForm {
    display: none;
}

.title, #feedback, #contact {
    padding: 10px 0px;
}

#feedback, #contact {
    text-align: center;
}

.formContact, .formFeedback {
    padding: 10px;
}

.row {
    padding: 0px 10px;
}

.forms {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit {
    padding-top: 20px;
    padding-bottom: 10px;
}

footer {
    position: relative;
    color: #fff;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.label {
    padding: 10px 0px;
}

#c_salutation, #f_salutation {
    background: url("../../src/images/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 24px 24px;
    background-color: #fff;
}

.border_red {
    border: 2px solid red;
    transition: all 1s;
}

input, select, textarea {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 0;
    width: 100%;
    outline: none;
    transition: all 1s;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
    width: 100%;
    height: 85%;
}

@media screen and (max-width: 767px) {
    textarea {
        resize: none;
        width: 100%;
        height: 95%;
    }

    .submit {
        padding-top: 60px;
        padding-bottom: 10px;
    }
}
