<div class="formContact">
    <h3>Contact form</h3>
</div>
<form id="formContact" name="contact" action="contact.php" method="post">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div id="error_c" class="error_handling">
                <span>Please correct the marked fields. (*)</span>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="label">
                <label for="c_salutation">Salution<sup> *</sup></label>
            </div>
            <div>
                <select id="c_salutation" name="salutation">
                    <optgroup label="Salutation">
                        <option ng-repeat="x in salutation" value="{{x}}">{{x}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="label">
                <label for="c_firstName">First Name<sup> *</sup></label>
            </div>
            <div>
                <input type="text" value="" name="firstName" id="c_firstName" pattern="[a-zA-zäÄöÖüÜ\^\´\`\']{1,}" placeholder="First Name">
            </div>
            <div class="label">
                <label for="c_lastName">Last Name<sup> *</sup></label>
            </div>
            <div>
                <input type="text" name="lastName" id="c_lastName" pattern="[a-zA-zäÄöÖüÜ\^\´\`\']{1,}" placeholder="Last Name">
            </div>
            <div class="label">
                <label for="c_email">E-Mail<sup> *</sup></label>
            </div>
            <div>
                <input type="email" name="email" id="c_email" pattern="(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])" placeholder="E-Mail">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="label">
                <label for="c_comments">Comments<sup> *</sup></label>
            </div>
            <textarea name="comments" id="c_comments" pattern="[a-zA-ZäÄöÖüÜ0-9\ \,\.\;\:\-\_\\\(\)\{\)\+\=\?\!\´\`\'\&amp;\/\|\§\$\€\@]{1,255}" placeholder="Comments"></textarea>
        </div>
    </div>
    <div class="row submit">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <input type="submit" name="submit" value="Submit" class="btn btn-success">
            </div>
        </div>
    </div>
</form>

<script>
// formContact form

document.getElementById("formContact").onsubmit = function () {

    /* Form elements */
        
    var firstName  = document.forms["contact"]["firstName"].value,
        lastName = document.forms["contact"]["lastName"].value,
        email = document.forms["contact"]["email"].value,
        comments  = document.forms["contact"]["comments"].value;

    /* Regular Expressions */

    var regexpFirstName = /[a-zA-zäÄöÖüÜ]{1,}/gi,
        result_first_name = regexpFirstName.test(firstName),
        regexpLastName = /[a-zA-zäÄöÖüÜ]{1,}/gi,
        result_last_name = regexpLastName.test(lastName),
        regexpEmail = /(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/gi,
        result_email = regexpEmail.test(email),
        regexpComments = /[a-zA-ZäÄöÖüÜ0-9\ \,\.\;\:\-\_\\\(\)\{\)\+\=\?\!\´\`\'\&amp;\/\|\§\$\€\@]{1,255}/gi,
        result_comments = regexpComments.test(comments);

    var error = document.getElementById("error_c");

    var submit = true;

    if (firstName == null || firstName == "") {
        
        document.getElementById("c_firstName").classList.add("border_red");
        error.classList.add("error");
        
        submit = false;

    }

    else if (firstName != null || firstName != "") {
        
        document.getElementById("c_firstName").classList.remove("border_red");
        error.classList.remove("error");
        
        submit = false;

    }

    if (lastName == null || lastName == "") {
        
        document.getElementById("c_lastName").classList.add("border_red");
        error.classList.add("error");
        
        submit = false;

    }

    else if (lastName != null || lastName != "") {
        
        document.getElementById("c_lastName").classList.remove("border_red");
        error.classList.remove("error");
        
        submit = false;

    }


    if (email == null || email == "") {

        document.getElementById("c_email").classList.add("border_red");
        error.classList.add("error");

        submit = false;

    }


    else if (email != null || email != "") {

        document.getElementById("c_email").classList.remove("border_red");
        error.classList.remove("error");

        submit = false;

    }

    if (comments == null || comments == "") {

        document.getElementById("c_comments").classList.add("border_red");
        error.classList.add("error");

        submit = false;

    }

    else if (comments != null || comments != "") {

        document.getElementById("c_comments").classList.remove("border_red");
        error.classList.remove("error");

        submit = false;

    }

    if (result_first_name == false){

        document.getElementById("c_firstName").classList.add("border_red");
        error.classList.add("error");
        
        submit = false;

    } else if (result_first_name == true) {

        document.getElementById("c_firstName").classList.remove("border_red");
        error.classList.remove("error");

        //submit = false;

    }

    if (result_last_name == false){

        document.getElementById("c_lastName").classList.add("border_red");
        error.classList.add("error");
        
        submit = false;

    } else if (result_last_name == true) {

        document.getElementById("c_lastName").classList.remove("border_red");
        error.classList.remove("error");

        //submit = false;

    }

    if (result_email == false){

        document.getElementById("c_email").classList.add("border_red");
        error.classList.add("error");
        
        submit = false;

    } else if (result_email == true) {

        document.getElementById("c_email").classList.remove("border_red");
        error.classList.remove("error");

        //submit = false;

    }

    if (result_comments == false){

        document.getElementById("c_comments").classList.add("border_red");
        error.classList.add("error");
        
        submit = false;

    } else if (result_comments == true) {

        document.getElementById("c_comments").classList.remove("border_red");
        error.classList.remove("error");

        //submit = false;

    }

    if(result_first_name == true && result_last_name == true && result_email == true && result_comments == true){

        error.classList.remove("error");

        submit = true;
        
    }

    return submit;
    
}
</script>